# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.sav

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared libraries
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Common build directories
build/
bin/
obj/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Operating System files
.DS_Store
Thumbs.db